@import url('https://fonts.googleapis.com/css?family=Overpass:700|Ubuntu');

html {
	height: 100%;
	min-width: 400px;
	width: auto !important;
}

body{
	height: 100%;
	background-color:#f0f0f0;
}

article{
	min-height: 100%;
	width: 90%;
	margin: 0px auto;
	display:grid;
	grid-template-rows: 80px auto 1fr 40px;
	grid-template-columns: 100%;
	align-items: stretch;
}

a {
	text-decoration: none;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

#current-page {
    background-color: #50a14f;
}


div.title {
    padding:0px 0px;
    background-color:#4078f2; 
    overflow: hidden;
}

h1.title {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    display:inline-block; 
    line-height:20px;
    margin-left:10px; 
    white-space:nowrap;
}

img.title {
    float:right;
    height:50px;
    width:50px;
    margin: 10px 30px;
}
    
a.navbar {
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
    color: #383A42;
    background-color:#4078f2;
    width:19%; 
    min-width:200px;
    display:inline-block;
    padding: 0 0 0 0; 
    margin:0 0 0 0; 
    line-height: 40px; 
    text-align:center; 
    border: solid;
    border-width: 2px;
}
    
div.navbar {
    padding:0px 0px;
    background-color:#4078f2;
    text-align: center;
    text-justify: distribute-all-lines;
    -ms-text-justify: distribute-all-lines; /* Code for IE :( */
    -moz-text-align-last: center; /* Code for Firefox ;) */
    text-align-last: center;
}

div.post {
	display: grid;
	margin: 16px 0px;
	font-family: ubuntu, sans-serif;
}

div.post-author {
	grid-row:1;
	grid-column:1;
}

div.code-box {
	border-style: solid;
	grid-row:2;
	grid-column-start:1;
	grid-column-end:4;
}

pre.code-box {
	white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
	padding: 0px 16px;
	font-family: ubuntu-mono, monospace;
	font-size: 16px;
	tab-size:4;
	-moz-tab-size:4; /* For old Firefox versions */
}

div.post-time {
	grid-row:3;
	grid-column:1;
}

div.post-score {
	grid-row:3;
	grid-column:3;
	text-align: right;
}

main {
    background-color:#f9f9f9;  
}


footer {
	background-color:#696c77;
	padding: 10px 10px;
	display:grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: stretch;
}

h4.footleft {
    color: #383A42;
	margin: 0px;
	grid-column: 1;
	grid-row: 1;
	line-height: 20px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
}

h4.footcenter {
    color: #383A42;
	grid-column: 2;
	grid-row: 1;
	margin: 0px;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
}

h4.footright {
    color: #383A42;
    grid-column: 3;
	grid-row: 1;
	margin: 0px;
	text-align: right;
	line-height: 20px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
}

div.login {
	margin:10px; 
	font-family: ubuntu, sans-serif; 
	font-size: 18px;
}

input.login {
	margin:10px; 
}

div.error {
	margin:10px;
	color: red;
	font-size: 16px;
}

textarea.postform {
	font-family: 'ubuntu-mono', monospace;
	font-size: 16px;
	margin: 0 auto;
}
