@import url('https://fonts.googleapis.com/css?family=Overpass:700|Ubuntu');
h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 40px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}
